<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CemuKeepRunning.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CemuKeepRunning.My.MySettings>
            <setting name="CemuPathSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="GamePathSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="OptionPathSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="OptionEnabledSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeoutEnabledSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionArgsSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="FullscreenSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeoutSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="GPUEnabledSetting" serializeAs="String">
                <value>False</value>
            </setting>
        </CemuKeepRunning.My.MySettings>
    </userSettings>
</configuration>